In [1]:
# importing libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# importing warnings & others related to display

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)

from IPython.core.display import display, HTML
display(HTML('<style>.container {width:100% !important; }</style>'))

### Loading & understanding Data

In [3]:
gd_df = pd.read_csv('Glassdoor jobs.csv')
gd_df

,Unnamed: 0,Unnamed: 1,GLASSDOOR JOBS,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Competitors,Revenue,Sector,Industry,Ownership Type,Founded,Size,Headquarters,Location,Name,Rating,Description,Salary,Title,index
3,"EmblemHealth, UnitedHealth Group, Aetna",Unknown / Non-Applicable,Insurance,Insurance Carriers,Nonprofit Organization,1993,1001 to 5000 employees,"New York, NY","New York, NY",Healthfirst\n3.1,3.1,Description\n\nThe Senior Data Scientist is re...,$137K-$171K (Glassdoor est.),Sr Data Scientist,0
4,-1,$1 to $2 billion (USD),Business Services,Research & Development,Company - Public,1968,5001 to 10000 employees,"Herndon, VA","Chantilly, VA",ManTech\n4.2,4.2,"Secure our Nation, Ignite your Future\n\nJoin ...",$137K-$171K (Glassdoor est.),Data Scientist,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
687,-1,$100 to $500 million (USD),Finance,Investment Banking & Asset Management,Company - Private,1995,1001 to 5000 employees,"Coral Gables, FL","Coral Gables, FL",Bayview Asset Management\n3.7,3.7,POSITION SUMMARY\n\n\nThe candidate will be jo...,$79K-$131K (Glassdoor est.),Data Engineer,684
688,-1,Unknown / Non-Applicable,Information Technology,Internet,Company - Private,2012,501 to 1000 employees,"New York, NY","New York, NY",Via Transportation\n3.7,3.7,"As a Data Scientist, you'll utilize advanced q...",$79K-$131K (Glassdoor est.),Data Scientist,685
689,"Luxoft, EPAM, Capgemini Invent",$50 to $100 million (USD),Information Technology,Enterprise Software & Network Solutions,Company - Private,2006,1001 to 5000 employees,"San Ramon, CA","Santa Clara, CA",Grid Dynamics\n4.0,NaN,"As a member of the Data Science team, this rol...",$79K-$131K (Glassdoor est.),Data Scientist,686
690,-1,Unknown / Non-Applicable,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Company - Private,2015,501 to 1000 employees,"Chicago, IL","Chicago, IL",Tempus Labs\n3.3,3.3,Passionate about precision medicine and advanc...,$79K-$131K (Glassdoor est.),Data & Machine Learning Scientist,687
691,Sequenom,Unknown / Non-Applicable,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Company - Private,-1,1 to 50 employees,"Brisbane, CA","Brisbane, CA",CareDx\n2.5,2.5,"Headquartered in Brisbane, Calif., CareDx, Inc...",$79K-$131K (Glassdoor est.),Data Scientist - Machine Learning,688

In [4]:
gd_df = pd.read_csv('Glassdoor jobs.csv', skiprows=3)
gd_df.head()

,Competitors,Revenue,Sector,Industry,Ownership Type,Founded,Size,Headquarters,Location,Name,Rating,Description,Salary,Title,index
0,"EmblemHealth, UnitedHealth Group, Aetna",Unknown / Non-Applicable,Insurance,Insurance Carriers,Nonprofit Organization,1993,1001 to 5000 employees,"New York, NY","New York, NY",Healthfirst\n3.1,3.1,Description\n\nThe Senior Data Scientist is re...,$137K-$171K (Glassdoor est.),Sr Data Scientist,0
1,-1,$1 to $2 billion (USD),Business Services,Research & Development,Company - Public,1968,5001 to 10000 employees,"Herndon, VA","Chantilly, VA",ManTech\n4.2,4.2,"Secure our Nation, Ignite your Future\n\nJoin ...",$137K-$171K (Glassdoor est.),Data Scientist,1
2,-1,$100 to $500 million (USD),Business Services,Consulting,Private Practice / Firm,1981,1001 to 5000 employees,"Boston, MA","Boston, MA",Analysis Group\n3.8,3.8,Overview\n\n\nAnalysis Group is one of the lar...,$137K-$171K (Glassdoor est.),Data Scientist,2
3,"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",$100 to $500 million (USD),Manufacturing,Electrical & Electronic Manufacturing,Company - Public,2000,501 to 1000 employees,"Bad Ragaz, Switzerland","Newton, MA",INFICON\n3.5,3.5,JOB DESCRIPTION:\n\nDo you have a passion for ...,$137K-$171K (Glassdoor est.),Data Scientist,3
4,"Commerce Signals, Cardlytics, Yodlee",Unknown / Non-Applicable,Business Services,Advertising & Marketing,Company - Private,1998,51 to 200 employees,"New York, NY","New York, NY",Affinity Solutions\n2.9,2.9,Data Scientist\nAffinity Solutions / Marketing...,$137K-$171K (Glassdoor est.),NaN,4

In [5]:
gd_df.drop(['index'], axis=1, inplace=True)
gd_df.head()

,Competitors,Revenue,Sector,Industry,Ownership Type,Founded,Size,Headquarters,Location,Name,Rating,Description,Salary,Title
0,"EmblemHealth, UnitedHealth Group, Aetna",Unknown / Non-Applicable,Insurance,Insurance Carriers,Nonprofit Organization,1993,1001 to 5000 employees,"New York, NY","New York, NY",Healthfirst\n3.1,3.1,Description\n\nThe Senior Data Scientist is re...,$137K-$171K (Glassdoor est.),Sr Data Scientist
1,-1,$1 to $2 billion (USD),Business Services,Research & Development,Company - Public,1968,5001 to 10000 employees,"Herndon, VA","Chantilly, VA",ManTech\n4.2,4.2,"Secure our Nation, Ignite your Future\n\nJoin ...",$137K-$171K (Glassdoor est.),Data Scientist
2,-1,$100 to $500 million (USD),Business Services,Consulting,Private Practice / Firm,1981,1001 to 5000 employees,"Boston, MA","Boston, MA",Analysis Group\n3.8,3.8,Overview\n\n\nAnalysis Group is one of the lar...,$137K-$171K (Glassdoor est.),Data Scientist
3,"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",$100 to $500 million (USD),Manufacturing,Electrical & Electronic Manufacturing,Company - Public,2000,501 to 1000 employees,"Bad Ragaz, Switzerland","Newton, MA",INFICON\n3.5,3.5,JOB DESCRIPTION:\n\nDo you have a passion for ...,$137K-$171K (Glassdoor est.),Data Scientist
4,"Commerce Signals, Cardlytics, Yodlee",Unknown / Non-Applicable,Business Services,Advertising & Marketing,Company - Private,1998,51 to 200 employees,"New York, NY","New York, NY",Affinity Solutions\n2.9,2.9,Data Scientist\nAffinity Solutions / Marketing...,$137K-$171K (Glassdoor est.),NaN

In [6]:
gd_df.columns

Index(['Competitors', 'Revenue', 'Sector', 'Industry', 'Ownership Type',
       'Founded', 'Size', 'Headquarters', 'Location', 'Name', 'Rating',
       'Description', 'Salary', 'Title'],
      dtype='object')

In [7]:
cols = gd_df.columns
cols[0:11]

Index(['Competitors', 'Revenue', 'Sector', 'Industry', 'Ownership Type',
       'Founded', 'Size', 'Headquarters', 'Location', 'Name', 'Rating'],
      dtype='object')

In [8]:
cols[11:14]

Index(['Description', 'Salary', 'Title'], dtype='object')

In [9]:
l1 = 'C_' + cols[0:11]
l1

Index(['C_Competitors', 'C_Revenue', 'C_Sector', 'C_Industry',
       'C_Ownership Type', 'C_Founded', 'C_Size', 'C_Headquarters',
       'C_Location', 'C_Name', 'C_Rating'],
      dtype='object')

In [10]:
l2 = 'J_' + cols[11:14]
l2

Index(['J_Description', 'J_Salary', 'J_Title'], dtype='object')

In [11]:
new_list = l1.append(l2)
new_list

Index(['C_Competitors', 'C_Revenue', 'C_Sector', 'C_Industry',
       'C_Ownership Type', 'C_Founded', 'C_Size', 'C_Headquarters',
       'C_Location', 'C_Name', 'C_Rating', 'J_Description', 'J_Salary',
       'J_Title'],
      dtype='object')

In [12]:
gd_df.columns = new_list
gd_df.columns

Index(['C_Competitors', 'C_Revenue', 'C_Sector', 'C_Industry',
       'C_Ownership Type', 'C_Founded', 'C_Size', 'C_Headquarters',
       'C_Location', 'C_Name', 'C_Rating', 'J_Description', 'J_Salary',
       'J_Title'],
      dtype='object')

In [13]:
gd_df.head()

,C_Competitors,C_Revenue,C_Sector,C_Industry,C_Ownership Type,C_Founded,C_Size,C_Headquarters,C_Location,C_Name,C_Rating,J_Description,J_Salary,J_Title
0,"EmblemHealth, UnitedHealth Group, Aetna",Unknown / Non-Applicable,Insurance,Insurance Carriers,Nonprofit Organization,1993,1001 to 5000 employees,"New York, NY","New York, NY",Healthfirst\n3.1,3.1,Description\n\nThe Senior Data Scientist is re...,$137K-$171K (Glassdoor est.),Sr Data Scientist
1,-1,$1 to $2 billion (USD),Business Services,Research & Development,Company - Public,1968,5001 to 10000 employees,"Herndon, VA","Chantilly, VA",ManTech\n4.2,4.2,"Secure our Nation, Ignite your Future\n\nJoin ...",$137K-$171K (Glassdoor est.),Data Scientist
2,-1,$100 to $500 million (USD),Business Services,Consulting,Private Practice / Firm,1981,1001 to 5000 employees,"Boston, MA","Boston, MA",Analysis Group\n3.8,3.8,Overview\n\n\nAnalysis Group is one of the lar...,$137K-$171K (Glassdoor est.),Data Scientist
3,"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",$100 to $500 million (USD),Manufacturing,Electrical & Electronic Manufacturing,Company - Public,2000,501 to 1000 employees,"Bad Ragaz, Switzerland","Newton, MA",INFICON\n3.5,3.5,JOB DESCRIPTION:\n\nDo you have a passion for ...,$137K-$171K (Glassdoor est.),Data Scientist
4,"Commerce Signals, Cardlytics, Yodlee",Unknown / Non-Applicable,Business Services,Advertising & Marketing,Company - Private,1998,51 to 200 employees,"New York, NY","New York, NY",Affinity Solutions\n2.9,2.9,Data Scientist\nAffinity Solutions / Marketing...,$137K-$171K (Glassdoor est.),NaN

In [14]:
df2 = gd_df.copy()
df2.head()

,C_Competitors,C_Revenue,C_Sector,C_Industry,C_Ownership Type,C_Founded,C_Size,C_Headquarters,C_Location,C_Name,C_Rating,J_Description,J_Salary,J_Title
0,"EmblemHealth, UnitedHealth Group, Aetna",Unknown / Non-Applicable,Insurance,Insurance Carriers,Nonprofit Organization,1993,1001 to 5000 employees,"New York, NY","New York, NY",Healthfirst\n3.1,3.1,Description\n\nThe Senior Data Scientist is re...,$137K-$171K (Glassdoor est.),Sr Data Scientist
1,-1,$1 to $2 billion (USD),Business Services,Research & Development,Company - Public,1968,5001 to 10000 employees,"Herndon, VA","Chantilly, VA",ManTech\n4.2,4.2,"Secure our Nation, Ignite your Future\n\nJoin ...",$137K-$171K (Glassdoor est.),Data Scientist
2,-1,$100 to $500 million (USD),Business Services,Consulting,Private Practice / Firm,1981,1001 to 5000 employees,"Boston, MA","Boston, MA",Analysis Group\n3.8,3.8,Overview\n\n\nAnalysis Group is one of the lar...,$137K-$171K (Glassdoor est.),Data Scientist
3,"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",$100 to $500 million (USD),Manufacturing,Electrical & Electronic Manufacturing,Company - Public,2000,501 to 1000 employees,"Bad Ragaz, Switzerland","Newton, MA",INFICON\n3.5,3.5,JOB DESCRIPTION:\n\nDo you have a passion for ...,$137K-$171K (Glassdoor est.),Data Scientist
4,"Commerce Signals, Cardlytics, Yodlee",Unknown / Non-Applicable,Business Services,Advertising & Marketing,Company - Private,1998,51 to 200 employees,"New York, NY","New York, NY",Affinity Solutions\n2.9,2.9,Data Scientist\nAffinity Solutions / Marketing...,$137K-$171K (Glassdoor est.),NaN

In [15]:
df2.add_prefix("Glassdoor_").head(5)

,Glassdoor_C_Competitors,Glassdoor_C_Revenue,Glassdoor_C_Sector,Glassdoor_C_Industry,Glassdoor_C_Ownership Type,Glassdoor_C_Founded,Glassdoor_C_Size,Glassdoor_C_Headquarters,Glassdoor_C_Location,Glassdoor_C_Name,Glassdoor_C_Rating,Glassdoor_J_Description,Glassdoor_J_Salary,Glassdoor_J_Title
0,"EmblemHealth, UnitedHealth Group, Aetna",Unknown / Non-Applicable,Insurance,Insurance Carriers,Nonprofit Organization,1993,1001 to 5000 employees,"New York, NY","New York, NY",Healthfirst\n3.1,3.1,Description\n\nThe Senior Data Scientist is re...,$137K-$171K (Glassdoor est.),Sr Data Scientist
1,-1,$1 to $2 billion (USD),Business Services,Research & Development,Company - Public,1968,5001 to 10000 employees,"Herndon, VA","Chantilly, VA",ManTech\n4.2,4.2,"Secure our Nation, Ignite your Future\n\nJoin ...",$137K-$171K (Glassdoor est.),Data Scientist
2,-1,$100 to $500 million (USD),Business Services,Consulting,Private Practice / Firm,1981,1001 to 5000 employees,"Boston, MA","Boston, MA",Analysis Group\n3.8,3.8,Overview\n\n\nAnalysis Group is one of the lar...,$137K-$171K (Glassdoor est.),Data Scientist
3,"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",$100 to $500 million (USD),Manufacturing,Electrical & Electronic Manufacturing,Company - Public,2000,501 to 1000 employees,"Bad Ragaz, Switzerland","Newton, MA",INFICON\n3.5,3.5,JOB DESCRIPTION:\n\nDo you have a passion for ...,$137K-$171K (Glassdoor est.),Data Scientist
4,"Commerce Signals, Cardlytics, Yodlee",Unknown / Non-Applicable,Business Services,Advertising & Marketing,Company - Private,1998,51 to 200 employees,"New York, NY","New York, NY",Affinity Solutions\n2.9,2.9,Data Scientist\nAffinity Solutions / Marketing...,$137K-$171K (Glassdoor est.),NaN

In [16]:
gd_df.columns

Index(['C_Competitors', 'C_Revenue', 'C_Sector', 'C_Industry',
       'C_Ownership Type', 'C_Founded', 'C_Size', 'C_Headquarters',
       'C_Location', 'C_Name', 'C_Rating', 'J_Description', 'J_Salary',
       'J_Title'],
      dtype='object')

In [17]:
gd_df.columns[11:]

Index(['J_Description', 'J_Salary', 'J_Title'], dtype='object')

In [18]:
gd_df.columns[:11]

Index(['C_Competitors', 'C_Revenue', 'C_Sector', 'C_Industry',
       'C_Ownership Type', 'C_Founded', 'C_Size', 'C_Headquarters',
       'C_Location', 'C_Name', 'C_Rating'],
      dtype='object')

In [19]:
list(gd_df.columns[11:]) + list(gd_df.columns[:11])

['J_Description',
 'J_Salary',
 'J_Title',
 'C_Competitors',
 'C_Revenue',
 'C_Sector',
 'C_Industry',
 'C_Ownership Type',
 'C_Founded',
 'C_Size',
 'C_Headquarters',
 'C_Location',
 'C_Name',
 'C_Rating']

In [20]:
gd_df[list(gd_df.columns[11:]) + list(gd_df.columns[:11])].head()

,J_Description,J_Salary,J_Title,C_Competitors,C_Revenue,C_Sector,C_Industry,C_Ownership Type,C_Founded,C_Size,C_Headquarters,C_Location,C_Name,C_Rating
0,Description\n\nThe Senior Data Scientist is re...,$137K-$171K (Glassdoor est.),Sr Data Scientist,"EmblemHealth, UnitedHealth Group, Aetna",Unknown / Non-Applicable,Insurance,Insurance Carriers,Nonprofit Organization,1993,1001 to 5000 employees,"New York, NY","New York, NY",Healthfirst\n3.1,3.1
1,"Secure our Nation, Ignite your Future\n\nJoin ...",$137K-$171K (Glassdoor est.),Data Scientist,-1,$1 to $2 billion (USD),Business Services,Research & Development,Company - Public,1968,5001 to 10000 employees,"Herndon, VA","Chantilly, VA",ManTech\n4.2,4.2
2,Overview\n\n\nAnalysis Group is one of the lar...,$137K-$171K (Glassdoor est.),Data Scientist,-1,$100 to $500 million (USD),Business Services,Consulting,Private Practice / Firm,1981,1001 to 5000 employees,"Boston, MA","Boston, MA",Analysis Group\n3.8,3.8
3,JOB DESCRIPTION:\n\nDo you have a passion for ...,$137K-$171K (Glassdoor est.),Data Scientist,"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",$100 to $500 million (USD),Manufacturing,Electrical & Electronic Manufacturing,Company - Public,2000,501 to 1000 employees,"Bad Ragaz, Switzerland","Newton, MA",INFICON\n3.5,3.5
4,Data Scientist\nAffinity Solutions / Marketing...,$137K-$171K (Glassdoor est.),NaN,"Commerce Signals, Cardlytics, Yodlee",Unknown / Non-Applicable,Business Services,Advertising & Marketing,Company - Private,1998,51 to 200 employees,"New York, NY","New York, NY",Affinity Solutions\n2.9,2.9

In [21]:
gd_df.head()

,C_Competitors,C_Revenue,C_Sector,C_Industry,C_Ownership Type,C_Founded,C_Size,C_Headquarters,C_Location,C_Name,C_Rating,J_Description,J_Salary,J_Title
0,"EmblemHealth, UnitedHealth Group, Aetna",Unknown / Non-Applicable,Insurance,Insurance Carriers,Nonprofit Organization,1993,1001 to 5000 employees,"New York, NY","New York, NY",Healthfirst\n3.1,3.1,Description\n\nThe Senior Data Scientist is re...,$137K-$171K (Glassdoor est.),Sr Data Scientist
1,-1,$1 to $2 billion (USD),Business Services,Research & Development,Company - Public,1968,5001 to 10000 employees,"Herndon, VA","Chantilly, VA",ManTech\n4.2,4.2,"Secure our Nation, Ignite your Future\n\nJoin ...",$137K-$171K (Glassdoor est.),Data Scientist
2,-1,$100 to $500 million (USD),Business Services,Consulting,Private Practice / Firm,1981,1001 to 5000 employees,"Boston, MA","Boston, MA",Analysis Group\n3.8,3.8,Overview\n\n\nAnalysis Group is one of the lar...,$137K-$171K (Glassdoor est.),Data Scientist
3,"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",$100 to $500 million (USD),Manufacturing,Electrical & Electronic Manufacturing,Company - Public,2000,501 to 1000 employees,"Bad Ragaz, Switzerland","Newton, MA",INFICON\n3.5,3.5,JOB DESCRIPTION:\n\nDo you have a passion for ...,$137K-$171K (Glassdoor est.),Data Scientist
4,"Commerce Signals, Cardlytics, Yodlee",Unknown / Non-Applicable,Business Services,Advertising & Marketing,Company - Private,1998,51 to 200 employees,"New York, NY","New York, NY",Affinity Solutions\n2.9,2.9,Data Scientist\nAffinity Solutions / Marketing...,$137K-$171K (Glassdoor est.),NaN

In [22]:
gd_df = gd_df.loc[:, ::-1]
gd_df.columns

Index(['J_Title', 'J_Salary', 'J_Description', 'C_Rating', 'C_Name',
       'C_Location', 'C_Headquarters', 'C_Size', 'C_Founded',
       'C_Ownership Type', 'C_Industry', 'C_Sector', 'C_Revenue',
       'C_Competitors'],
      dtype='object')

In [23]:
gd_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 689 entries, 0 to 688
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   J_Title           684 non-null    object
 1   J_Salary          689 non-null    object
 2   J_Description     689 non-null    object
 3   C_Rating          684 non-null    object
 4   C_Name            689 non-null    object
 5   C_Location        689 non-null    object
 6   C_Headquarters    689 non-null    object
 7   C_Size            689 non-null    object
 8   C_Founded         689 non-null    int64
 9   C_Ownership Type  689 non-null    object
 10  C_Industry        689 non-null    object
 11  C_Sector          689 non-null    object
 12  C_Revenue         689 non-null    object
 13  C_Competitors     689 non-null    object
dtypes: int64(1), object(13)
memory usage: 75.5+ KB

### Data Cleaning

In [24]:
gd_df.isna().sum()

J_Title             5
J_Salary            0
J_Description       0
C_Rating            5
C_Name              0
C_Location          0
C_Headquarters      0
C_Size              0
C_Founded           0
C_Ownership Type    0
C_Industry          0
C_Sector            0
C_Revenue           0
C_Competitors       0
dtype: int64

In [25]:
gd_df['C_Rating'].isna()

0      False
1      False
2      False
3      False
4      False
       ...
684    False
685    False
686     True
687    False
688    False
Name: C_Rating, Length: 689, dtype: bool

In [26]:
gd_df[gd_df['C_Rating'].isna()]

,J_Title,J_Salary,J_Description,C_Rating,C_Name,C_Location,C_Headquarters,C_Size,C_Founded,C_Ownership Type,C_Industry,C_Sector,C_Revenue,C_Competitors
49,Data Scientist,$75K-$131K (Glassdoor est.),Company Description:\nWhats it like to work at...,NaN,Quick Base\n4.3,"Cambridge, MA","Cambridge, MA",201 to 500 employees,1999,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1
67,Data Scientist,$79K-$131K (Glassdoor est.),"As a member of the Data Science team, this rol...",NaN,Grid Dynamics\n4.0,"Santa Clara, CA","San Ramon, CA",1001 to 5000 employees,2006,Company - Private,Enterprise Software & Network Solutions,Information Technology,$50 to $100 million (USD),"Luxoft, EPAM, Capgemini Invent"
157,Experienced Data Scientist,$101K-$165K (Glassdoor est.),*******Please Apply using this link: https://a...,NaN,Guzman & Griffin Technologies (GGTI)\n4.4,"Washington, DC","Mays Landing, NJ",1 to 50 employees,1997,Company - Private,Federal Agencies,Government,Unknown / Non-Applicable,-1
350,Data Scientist,$122K-$146K (Glassdoor est.),What will you be doing?\n\nThe Contractor shal...,NaN,Praxis Engineering\n4.7,"Chantilly, VA","Annapolis Junction, MD",201 to 500 employees,2002,Subsidiary or Business Segment,Computer Hardware & Software,Information Technology,$100 to $500 million (USD),"Raytheon Technologies, Northrop Grumman, Booz ..."
686,Data Scientist,$79K-$131K (Glassdoor est.),"As a member of the Data Science team, this rol...",NaN,Grid Dynamics\n4.0,"Santa Clara, CA","San Ramon, CA",1001 to 5000 employees,2006,Company - Private,Enterprise Software & Network Solutions,Information Technology,$50 to $100 million (USD),"Luxoft, EPAM, Capgemini Invent"

In [27]:
for i in (gd_df[~gd_df['C_Rating'].isna()]['C_Rating']):
    if len(i)>3:
        print(i)

4.4*
/3.7
3.8*/
2*+.9

In [28]:
l = []
for i in (gd_df['C_Rating']):
    try:
        pd.to_numeric(i)
    except ValueError:
        l.append(i)
        
print("Erronous Cases: ", l)

Erronous Cases:  ['4.4*', '/3.7', '3.8*/', '2*+.9']

In [29]:
gd_df[gd_df['C_Rating'].isna()].shape

(5, 14)

In [30]:
ix = gd_df[gd_df['C_Rating'].isna()].index
ix

Int64Index([49, 67, 157, 350, 686], dtype='int64')

In [31]:
lis = []
lis

[]

In [32]:
len(ix)

5

In [33]:
for i in range(0,len(ix)):
    lis.append(gd_df.iloc[ix[i]]['C_Name'].split('\n')[1])

In [34]:
lis

['4.3', '4.0', '4.4', '4.7', '4.0']

In [35]:
gd_df.iloc[ix,3] = lis
gd_df.iloc[ix]

,J_Title,J_Salary,J_Description,C_Rating,C_Name,C_Location,C_Headquarters,C_Size,C_Founded,C_Ownership Type,C_Industry,C_Sector,C_Revenue,C_Competitors
49,Data Scientist,$75K-$131K (Glassdoor est.),Company Description:\nWhats it like to work at...,4.3,Quick Base\n4.3,"Cambridge, MA","Cambridge, MA",201 to 500 employees,1999,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1
67,Data Scientist,$79K-$131K (Glassdoor est.),"As a member of the Data Science team, this rol...",4.0,Grid Dynamics\n4.0,"Santa Clara, CA","San Ramon, CA",1001 to 5000 employees,2006,Company - Private,Enterprise Software & Network Solutions,Information Technology,$50 to $100 million (USD),"Luxoft, EPAM, Capgemini Invent"
157,Experienced Data Scientist,$101K-$165K (Glassdoor est.),*******Please Apply using this link: https://a...,4.4,Guzman & Griffin Technologies (GGTI)\n4.4,"Washington, DC","Mays Landing, NJ",1 to 50 employees,1997,Company - Private,Federal Agencies,Government,Unknown / Non-Applicable,-1
350,Data Scientist,$122K-$146K (Glassdoor est.),What will you be doing?\n\nThe Contractor shal...,4.7,Praxis Engineering\n4.7,"Chantilly, VA","Annapolis Junction, MD",201 to 500 employees,2002,Subsidiary or Business Segment,Computer Hardware & Software,Information Technology,$100 to $500 million (USD),"Raytheon Technologies, Northrop Grumman, Booz ..."
686,Data Scientist,$79K-$131K (Glassdoor est.),"As a member of the Data Science team, this rol...",4.0,Grid Dynamics\n4.0,"Santa Clara, CA","San Ramon, CA",1001 to 5000 employees,2006,Company - Private,Enterprise Software & Network Solutions,Information Technology,$50 to $100 million (USD),"Luxoft, EPAM, Capgemini Invent"

In [36]:
gd_df.C_Rating.isna().sum()

0

In [37]:
gd_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 689 entries, 0 to 688
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   J_Title           684 non-null    object
 1   J_Salary          689 non-null    object
 2   J_Description     689 non-null    object
 3   C_Rating          689 non-null    object
 4   C_Name            689 non-null    object
 5   C_Location        689 non-null    object
 6   C_Headquarters    689 non-null    object
 7   C_Size            689 non-null    object
 8   C_Founded         689 non-null    int64
 9   C_Ownership Type  689 non-null    object
 10  C_Industry        689 non-null    object
 11  C_Sector          689 non-null    object
 12  C_Revenue         689 non-null    object
 13  C_Competitors     689 non-null    object
dtypes: int64(1), object(13)
memory usage: 75.5+ KB

In [38]:
def cleaner(str):
    cleaner_str = "".join(filter(lambda x:(x in "0123456789."),str))
    return float(cleaner_str)

In [39]:
gd_df['C_Rating'] = gd_df['C_Rating'].apply(cleaner)
gd_df['C_Rating'].dtype

dtype('float64')

In [40]:
gd_df.C_Rating.describe()

count    689.000000
mean       3.672859
std        0.953591
min        1.000000
25%        3.400000
50%        3.800000
75%        4.300000
max        5.600000
Name: C_Rating, dtype: float64

In [41]:
gd_df.head()

,J_Title,J_Salary,J_Description,C_Rating,C_Name,C_Location,C_Headquarters,C_Size,C_Founded,C_Ownership Type,C_Industry,C_Sector,C_Revenue,C_Competitors
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,NaN,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [42]:
gd_df.eq(-1).sum()             # for integer

J_Title               0
J_Salary              0
J_Description         0
C_Rating              0
C_Name                0
C_Location            0
C_Headquarters        0
C_Size                0
C_Founded           119
C_Ownership Type      0
C_Industry            0
C_Sector              0
C_Revenue             0
C_Competitors         0
dtype: int64

In [43]:
gd_df.eq('-1').sum()          # for string

J_Title               0
J_Salary              0
J_Description         0
C_Rating              0
C_Name                0
C_Location            0
C_Headquarters       31
C_Size               27
C_Founded             0
C_Ownership Type     27
C_Industry           71
C_Sector             71
C_Revenue            27
C_Competitors       512
dtype: int64

In [44]:
(gd_df.eq(-1) + gd_df.eq('-1')).sum()                  # -1 : combined in the form integer & string

J_Title               0
J_Salary              0
J_Description         0
C_Rating              0
C_Name                0
C_Location            0
C_Headquarters       31
C_Size               27
C_Founded           119
C_Ownership Type     27
C_Industry           71
C_Sector             71
C_Revenue            27
C_Competitors       512
dtype: int64

In [45]:
gd_df

,J_Title,J_Salary,J_Description,C_Rating,C_Name,C_Location,C_Headquarters,C_Size,C_Founded,C_Ownership Type,C_Industry,C_Sector,C_Revenue,C_Competitors
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,NaN,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,Data Engineer,$79K-$131K (Glassdoor est.),POSITION SUMMARY\n\n\nThe candidate will be jo...,3.7,Bayview Asset Management\n3.7,"Coral Gables, FL","Coral Gables, FL",1001 to 5000 employees,1995,Company - Private,Investment Banking & Asset Management,Finance,$100 to $500 million (USD),-1
685,Data Scientist,$79K-$131K (Glassdoor est.),"As a Data Scientist, you'll utilize advanced q...",3.7,Via Transportation\n3.7,"New York, NY","New York, NY",501 to 1000 employees,2012,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,-1
686,Data Scientist,$79K-$131K (Glassdoor est.),"As a member of the Data Science team, this rol...",4.0,Grid Dynamics\n4.0,"Santa Clara, CA","San Ramon, CA",1001 to 5000 employees,2006,Company - Private,Enterprise Software & Network Solutions,Information Technology,$50 to $100 million (USD),"Luxoft, EPAM, Capgemini Invent"
687,Data & Machine Learning Scientist,$79K-$131K (Glassdoor est.),Passionate about precision medicine and advanc...,3.3,Tempus Labs\n3.3,"Chicago, IL","Chicago, IL",501 to 1000 employees,2015,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,-1
688,Data Scientist - Machine Learning,$79K-$131K (Glassdoor est.),"Headquartered in Brisbane, Calif., CareDx, Inc...",2.5,CareDx\n2.5,"Brisbane, CA","Brisbane, CA",1 to 50 employees,-1,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,Sequenom

In [46]:
cols = gd_df.columns
cols

Index(['J_Title', 'J_Salary', 'J_Description', 'C_Rating', 'C_Name',
       'C_Location', 'C_Headquarters', 'C_Size', 'C_Founded',
       'C_Ownership Type', 'C_Industry', 'C_Sector', 'C_Revenue',
       'C_Competitors'],
      dtype='object')

In [47]:
gd_df.replace([-1,'-1'], np.nan, inplace=True)

In [48]:
gd_df.isna().sum()

J_Title               5
J_Salary              0
J_Description         0
C_Rating              0
C_Name                0
C_Location            0
C_Headquarters       31
C_Size               27
C_Founded           119
C_Ownership Type     27
C_Industry           71
C_Sector             71
C_Revenue            27
C_Competitors       512
dtype: int64

In [49]:
gd_df.head()

,J_Title,J_Salary,J_Description,C_Rating,C_Name,C_Location,C_Headquarters,C_Size,C_Founded,C_Ownership Type,C_Industry,C_Sector,C_Revenue,C_Competitors
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993.0,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968.0,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),NaN
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981.0,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),NaN
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000.0,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,NaN,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998.0,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [50]:
gd_df.shape

(689, 14)

In [51]:
gd_df.dropna(axis=0, inplace=True)

In [52]:
gd_df.shape

(170, 14)

In [53]:
gd_df.isna().sum()

J_Title             0
J_Salary            0
J_Description       0
C_Rating            0
C_Name              0
C_Location          0
C_Headquarters      0
C_Size              0
C_Founded           0
C_Ownership Type    0
C_Industry          0
C_Sector            0
C_Revenue           0
C_Competitors       0
dtype: int64

In [54]:
gd_df.head()

,J_Title,J_Salary,J_Description,C_Rating,C_Name,C_Location,C_Headquarters,C_Size,C_Founded,C_Ownership Type,C_Industry,C_Sector,C_Revenue,C_Competitors
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993.0,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000.0,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
8,Staff Data Scientist - Analytics,$137K-$171K (Glassdoor est.),Intuit is seeking a Staff Data Scientist to co...,4.4,Intuit - Data\n4.4,"San Diego, CA","Mountain View, CA",5001 to 10000 employees,1983.0,Company - Public,Computer Hardware & Software,Information Technology,$2 to $5 billion (USD),"Square, PayPal, H&R Block"
10,Data Scientist,$137K-$171K (Glassdoor est.),Join our team dedicated to developing and exec...,4.5,Novetta\n4.5,"Herndon, VA","Mc Lean, VA",501 to 1000 employees,2012.0,Company - Private,Enterprise Software & Network Solutions,Information Technology,$100 to $500 million (USD),"Leidos, CACI International, Booz Allen Hamilton"
11,Data Scientist,$137K-$171K (Glassdoor est.),About Us\n\n\nInterested in working for a huma...,4.7,1904labs\n4.7,"Saint Louis, MO","Saint Louis, MO",51 to 200 employees,2016.0,Company - Private,IT Services,Information Technology,Unknown / Non-Applicable,"Slalom, Daugherty Business Solutions"

In [55]:
gd_df.reset_index(drop=True, inplace=True)

In [56]:
gd_df

,J_Title,J_Salary,J_Description,C_Rating,C_Name,C_Location,C_Headquarters,C_Size,C_Founded,C_Ownership Type,C_Industry,C_Sector,C_Revenue,C_Competitors
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993.0,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000.0,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
2,Staff Data Scientist - Analytics,$137K-$171K (Glassdoor est.),Intuit is seeking a Staff Data Scientist to co...,4.4,Intuit - Data\n4.4,"San Diego, CA","Mountain View, CA",5001 to 10000 employees,1983.0,Company - Public,Computer Hardware & Software,Information Technology,$2 to $5 billion (USD),"Square, PayPal, H&R Block"
3,Data Scientist,$137K-$171K (Glassdoor est.),Join our team dedicated to developing and exec...,4.5,Novetta\n4.5,"Herndon, VA","Mc Lean, VA",501 to 1000 employees,2012.0,Company - Private,Enterprise Software & Network Solutions,Information Technology,$100 to $500 million (USD),"Leidos, CACI International, Booz Allen Hamilton"
4,Data Scientist,$137K-$171K (Glassdoor est.),About Us\n\n\nInterested in working for a huma...,4.7,1904labs\n4.7,"Saint Louis, MO","Saint Louis, MO",51 to 200 employees,2016.0,Company - Private,IT Services,Information Technology,Unknown / Non-Applicable,"Slalom, Daugherty Business Solutions"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,Product Data Scientist - Ads Data Science,$75K-$131K (Glassdoor est.),Who We Are\n\n\nThe team is responsible for pl...,4.1,Twitter\n4.1,"San Francisco, CA","San Francisco, CA",1001 to 5000 employees,2006.0,Company - Public,Internet,Information Technology,$2 to $5 billion (USD),"Facebook, Google, Pinterest"
166,Data Scientist,$75K-$131K (Glassdoor est.),WHO WE ARE\n\n\nPostmates enables anyone to ha...,3.2,Postmates - Corporate HQ\n3.2,"San Francisco, CA","San Francisco, CA",1001 to 5000 employees,2011.0,Company - Private,Express Delivery Services,Transportation & Logistics,Unknown / Non-Applicable,"DoorDash, Uber, Grubhub"
167,Data Analyst,$75K-$131K (Glassdoor est.),About Swiss Re\n\nSwiss Re is one of the world...,3.8,Swiss Re\n3.8,"Fort Wayne, IN","Zurich, Switzerland",10000+ employees,1863.0,Company - Public,Insurance Agencies & Brokerages,Insurance,$10+ billion (USD),"Munich Re, Hannover RE, SCOR"
168,Global Data Analyst,$79K-$131K (Glassdoor est.),Global Data Analyst\nJob Code\n\n3938\n\nLocat...,3.8,Dermalogica\n3.8,"Carson, CA","Carson, CA",201 to 500 employees,1986.0,Subsidiary or Business Segment,Consumer Products Manufacturing,Manufacturing,$100 to $500 million (USD),"IMAGE Skincare, Aveda, Kiehl's"
169,Data Scientist,$79K-$131K (Glassdoor est.),"As a member of the Data Science team, this rol...",4.0,Grid Dynamics\n4.0,"Santa Clara, CA","San Ramon, CA",1001 to 5000 employees,2006.0,Company - Private,Enterprise Software & Network Solutions,Information Technology,$50 to $100 million (USD),"Luxoft, EPAM, Capgemini Invent"

### Hierarchical indexing

In [57]:
df2 = gd_df.copy()
df2.head()

,J_Title,J_Salary,J_Description,C_Rating,C_Name,C_Location,C_Headquarters,C_Size,C_Founded,C_Ownership Type,C_Industry,C_Sector,C_Revenue,C_Competitors
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993.0,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000.0,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
2,Staff Data Scientist - Analytics,$137K-$171K (Glassdoor est.),Intuit is seeking a Staff Data Scientist to co...,4.4,Intuit - Data\n4.4,"San Diego, CA","Mountain View, CA",5001 to 10000 employees,1983.0,Company - Public,Computer Hardware & Software,Information Technology,$2 to $5 billion (USD),"Square, PayPal, H&R Block"
3,Data Scientist,$137K-$171K (Glassdoor est.),Join our team dedicated to developing and exec...,4.5,Novetta\n4.5,"Herndon, VA","Mc Lean, VA",501 to 1000 employees,2012.0,Company - Private,Enterprise Software & Network Solutions,Information Technology,$100 to $500 million (USD),"Leidos, CACI International, Booz Allen Hamilton"
4,Data Scientist,$137K-$171K (Glassdoor est.),About Us\n\n\nInterested in working for a huma...,4.7,1904labs\n4.7,"Saint Louis, MO","Saint Louis, MO",51 to 200 employees,2016.0,Company - Private,IT Services,Information Technology,Unknown / Non-Applicable,"Slalom, Daugherty Business Solutions"

In [58]:
gd_df['C_City'] = gd_df['C_Location'].apply(lambda x: x.split(",")[0])
gd_df.head()

,J_Title,J_Salary,J_Description,C_Rating,C_Name,C_Location,C_Headquarters,C_Size,C_Founded,C_Ownership Type,C_Industry,C_Sector,C_Revenue,C_Competitors,C_City
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993.0,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",New York
1,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000.0,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",Newton
2,Staff Data Scientist - Analytics,$137K-$171K (Glassdoor est.),Intuit is seeking a Staff Data Scientist to co...,4.4,Intuit - Data\n4.4,"San Diego, CA","Mountain View, CA",5001 to 10000 employees,1983.0,Company - Public,Computer Hardware & Software,Information Technology,$2 to $5 billion (USD),"Square, PayPal, H&R Block",San Diego
3,Data Scientist,$137K-$171K (Glassdoor est.),Join our team dedicated to developing and exec...,4.5,Novetta\n4.5,"Herndon, VA","Mc Lean, VA",501 to 1000 employees,2012.0,Company - Private,Enterprise Software & Network Solutions,Information Technology,$100 to $500 million (USD),"Leidos, CACI International, Booz Allen Hamilton",Herndon
4,Data Scientist,$137K-$171K (Glassdoor est.),About Us\n\n\nInterested in working for a huma...,4.7,1904labs\n4.7,"Saint Louis, MO","Saint Louis, MO",51 to 200 employees,2016.0,Company - Private,IT Services,Information Technology,Unknown / Non-Applicable,"Slalom, Daugherty Business Solutions",Saint Louis

In [59]:
loc = list(gd_df.C_Location.unique())
print(loc)

['New York, NY', 'Newton, MA', 'San Diego, CA', 'Herndon, VA', 'Saint Louis, MO', 'Richland, WA', 'Plano, TX', 'Appleton, WI', 'United States', 'Overland Park, KS', 'Santa Monica, CA', 'Portsmouth, NH', 'Cambridge, MA', 'San Francisco, CA', 'Fort Wayne, IN', 'Carson, CA', 'Santa Clara, CA', 'Winter Park, FL', 'Peoria, IL', 'Ipswich, MA', 'Carmel, IN', 'Washington, DC', 'Gaithersburg, MD', 'Denver, CO', 'Chantilly, VA', 'Reston, VA', 'Bethesda, MD', 'Dayton, OH', 'McLean, VA', 'Woodbridge, NJ', 'Vicksburg, MS', 'Blue Bell, PA', 'Chicago, IL', 'Redwood City, CA', 'San Carlos, CA', 'Waltham, MA', 'Fort Worth, TX', 'Fort Belvoir, VA', 'Oklahoma City, OK', 'Champaign, IL', 'Texas', 'Lebanon, IN', 'Melbourne, FL', 'Cleveland, OH', 'San Jose, CA', 'Danvers, MA', 'Livermore, CA', 'Northbrook, IL', 'Oshkosh, WI', 'Ann Arbor, MI', 'Richmond, VA', 'Boston, MA', 'Kent, OH', 'Laurel, MD', 'Fremont, CA', 'Indianapolis, IN', 'Oxnard, CA', 'Kansas City, MO', 'Manchester, NH', 'Atlanta, GA', 'Falls Church, VA', 'Pleasanton, CA', 'Wilmington, DE', 'San Antonio, TX', 'Portland, OR', 'Simi Valley, CA', 'Bedford, MA', 'Collegeville, PA', 'Wellesley, MA', 'Bridgeport, WV', 'Naperville, IL', 'Bellevue, WA', 'Houston, TX']

In [60]:
for i in loc:
    if "," not in i:
        print(i)

United States
Texas

In [61]:
gd_df[gd_df['C_Location'].isin(['United States','Texas'])]

,J_Title,J_Salary,J_Description,C_Rating,C_Name,C_Location,C_Headquarters,C_Size,C_Founded,C_Ownership Type,C_Industry,C_Sector,C_Revenue,C_Competitors,C_City
9,Data Engineer,$75K-$131K (Glassdoor est.),Chef Software is the industry leader in IT aut...,3.6,Chef\n3.6,United States,"Seattle, WA",201 to 500 employees,2008.0,Company - Private,Enterprise Software & Network Solutions,Information Technology,$50 to $100 million (USD),"Puppet, Ansible, SaltStack",United States
70,Data Scientist,$71K-$123K (Glassdoor est.),Who we are\n\n\nFueled by a fundamental belief...,3.8,PayPal\n3.8,Texas,"San Jose, CA",10000+ employees,1998.0,Company - Public,Internet,Information Technology,$10+ billion (USD),"Square, Amazon, Apple",Texas
131,Data Scientist,$212K-$331K (Glassdoor est.),Position: Data Scientist\nLocation: Denver\nSt...,3.6,Creative Circle\n3.6,United States,"Los Angeles, CA",201 to 500 employees,2002.0,Company - Public,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,"Aquent, 24 Seven Talent",United States
154,Data Scientist,$87K-$141K (Glassdoor est.),Business Unit:\nCubic Transportation Systems\n...,3.3,Cubic\n3.3,United States,"San Diego, CA",5001 to 10000 employees,1951.0,Company - Public,Aerospace & Defense,Aerospace & Defense,$1 to $2 billion (USD),"Accenture, Northrop Grumman, Xerox",United States

In [62]:
gd_df[gd_df['C_Location'].isin(['United States','Texas'])].shape

(4, 15)

In [63]:
gd_df2 = gd_df[~(gd_df['C_Location'] == 'United States')].reset_index(drop=True)
gd_df2.head()

,J_Title,J_Salary,J_Description,C_Rating,C_Name,C_Location,C_Headquarters,C_Size,C_Founded,C_Ownership Type,C_Industry,C_Sector,C_Revenue,C_Competitors,C_City
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993.0,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",New York
1,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000.0,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",Newton
2,Staff Data Scientist - Analytics,$137K-$171K (Glassdoor est.),Intuit is seeking a Staff Data Scientist to co...,4.4,Intuit - Data\n4.4,"San Diego, CA","Mountain View, CA",5001 to 10000 employees,1983.0,Company - Public,Computer Hardware & Software,Information Technology,$2 to $5 billion (USD),"Square, PayPal, H&R Block",San Diego
3,Data Scientist,$137K-$171K (Glassdoor est.),Join our team dedicated to developing and exec...,4.5,Novetta\n4.5,"Herndon, VA","Mc Lean, VA",501 to 1000 employees,2012.0,Company - Private,Enterprise Software & Network Solutions,Information Technology,$100 to $500 million (USD),"Leidos, CACI International, Booz Allen Hamilton",Herndon
4,Data Scientist,$137K-$171K (Glassdoor est.),About Us\n\n\nInterested in working for a huma...,4.7,1904labs\n4.7,"Saint Louis, MO","Saint Louis, MO",51 to 200 employees,2016.0,Company - Private,IT Services,Information Technology,Unknown / Non-Applicable,"Slalom, Daugherty Business Solutions",Saint Louis

In [64]:
gd_df2[gd_df2['C_Location'].isin(['United States','Texas'])]

,J_Title,J_Salary,J_Description,C_Rating,C_Name,C_Location,C_Headquarters,C_Size,C_Founded,C_Ownership Type,C_Industry,C_Sector,C_Revenue,C_Competitors,C_City
69,Data Scientist,$71K-$123K (Glassdoor est.),Who we are\n\n\nFueled by a fundamental belief...,3.8,PayPal\n3.8,Texas,"San Jose, CA",10000+ employees,1998.0,Company - Public,Internet,Information Technology,$10+ billion (USD),"Square, Amazon, Apple",Texas

In [65]:
gd_df2.head()

,J_Title,J_Salary,J_Description,C_Rating,C_Name,C_Location,C_Headquarters,C_Size,C_Founded,C_Ownership Type,C_Industry,C_Sector,C_Revenue,C_Competitors,C_City
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993.0,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",New York
1,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000.0,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",Newton
2,Staff Data Scientist - Analytics,$137K-$171K (Glassdoor est.),Intuit is seeking a Staff Data Scientist to co...,4.4,Intuit - Data\n4.4,"San Diego, CA","Mountain View, CA",5001 to 10000 employees,1983.0,Company - Public,Computer Hardware & Software,Information Technology,$2 to $5 billion (USD),"Square, PayPal, H&R Block",San Diego
3,Data Scientist,$137K-$171K (Glassdoor est.),Join our team dedicated to developing and exec...,4.5,Novetta\n4.5,"Herndon, VA","Mc Lean, VA",501 to 1000 employees,2012.0,Company - Private,Enterprise Software & Network Solutions,Information Technology,$100 to $500 million (USD),"Leidos, CACI International, Booz Allen Hamilton",Herndon
4,Data Scientist,$137K-$171K (Glassdoor est.),About Us\n\n\nInterested in working for a huma...,4.7,1904labs\n4.7,"Saint Louis, MO","Saint Louis, MO",51 to 200 employees,2016.0,Company - Private,IT Services,Information Technology,Unknown / Non-Applicable,"Slalom, Daugherty Business Solutions",Saint Louis

In [66]:
gd_df2.shape

(167, 15)

In [67]:
gd_df2['C_State'] = gd_df2[(gd_df2['C_Location'] != 'Texas')]['C_Location'].apply(lambda x: x.split(",")[1])

In [68]:
gd_df2.head()

,J_Title,J_Salary,J_Description,C_Rating,C_Name,C_Location,C_Headquarters,C_Size,C_Founded,C_Ownership Type,C_Industry,C_Sector,C_Revenue,C_Competitors,C_City,C_State
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993.0,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",New York,NY
1,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000.0,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",Newton,MA
2,Staff Data Scientist - Analytics,$137K-$171K (Glassdoor est.),Intuit is seeking a Staff Data Scientist to co...,4.4,Intuit - Data\n4.4,"San Diego, CA","Mountain View, CA",5001 to 10000 employees,1983.0,Company - Public,Computer Hardware & Software,Information Technology,$2 to $5 billion (USD),"Square, PayPal, H&R Block",San Diego,CA
3,Data Scientist,$137K-$171K (Glassdoor est.),Join our team dedicated to developing and exec...,4.5,Novetta\n4.5,"Herndon, VA","Mc Lean, VA",501 to 1000 employees,2012.0,Company - Private,Enterprise Software & Network Solutions,Information Technology,$100 to $500 million (USD),"Leidos, CACI International, Booz Allen Hamilton",Herndon,VA
4,Data Scientist,$137K-$171K (Glassdoor est.),About Us\n\n\nInterested in working for a huma...,4.7,1904labs\n4.7,"Saint Louis, MO","Saint Louis, MO",51 to 200 employees,2016.0,Company - Private,IT Services,Information Technology,Unknown / Non-Applicable,"Slalom, Daugherty Business Solutions",Saint Louis,MO

In [69]:
gd_df2.isnull().sum()

J_Title             0
J_Salary            0
J_Description       0
C_Rating            0
C_Name              0
C_Location          0
C_Headquarters      0
C_Size              0
C_Founded           0
C_Ownership Type    0
C_Industry          0
C_Sector            0
C_Revenue           0
C_Competitors       0
C_City              0
C_State             1
dtype: int64

In [70]:
gd_df2['C_State'].unique()

array([' NY', ' MA', ' CA', ' VA', ' MO', ' WA', ' TX', ' WI', ' KS',
       ' NH', ' IN', ' FL', ' IL', ' DC', ' MD', ' CO', ' OH', ' NJ',
       ' MS', ' PA', ' OK', nan, ' MI', ' GA', ' DE', ' OR', ' WV'],
      dtype=object)

In [71]:
gd_df2['C_State'].fillna('TX',inplace=True)

In [72]:
gd_df2.isnull().sum()

J_Title             0
J_Salary            0
J_Description       0
C_Rating            0
C_Name              0
C_Location          0
C_Headquarters      0
C_Size              0
C_Founded           0
C_Ownership Type    0
C_Industry          0
C_Sector            0
C_Revenue           0
C_Competitors       0
C_City              0
C_State             0
dtype: int64

In [73]:
gd_df2 = gd_df2.sort_values('C_State')
gd_df2.head()

,J_Title,J_Salary,J_Description,C_Rating,C_Name,C_Location,C_Headquarters,C_Size,C_Founded,C_Ownership Type,C_Industry,C_Sector,C_Revenue,C_Competitors,C_City,C_State
166,Data Scientist,$79K-$131K (Glassdoor est.),"As a member of the Data Science team, this rol...",4.0,Grid Dynamics\n4.0,"Santa Clara, CA","San Ramon, CA",1001 to 5000 employees,2006.0,Company - Private,Enterprise Software & Network Solutions,Information Technology,$50 to $100 million (USD),"Luxoft, EPAM, Capgemini Invent",Santa Clara,CA
28,"Data Science Manager, Payment Acceptance - USA",$79K-$131K (Glassdoor est.),Build out rigorous observability and optimizat...,4.0,Stripe\n4.0,"San Francisco, CA","San Francisco, CA",1001 to 5000 employees,2010.0,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,"Braintree, Authorize.Net, PayPal",San Francisco,CA
30,Staff Data Scientist - Analytics,$99K-$132K (Glassdoor est.),Intuit is seeking a Staff Data Scientist to co...,4.4,Intuit - Data\n4.4,"San Diego, CA","Mountain View, CA",5001 to 10000 employees,1983.0,Company - Public,Computer Hardware & Software,Information Technology,$2 to $5 billion (USD),"Square, PayPal, H&R Block",San Diego,CA
33,Staff Data Scientist,$99K-$132K (Glassdoor est.),Intuit is hiring a Senior Data scientist to fo...,4.4,Intuit - Data\n4.4,"San Diego, CA","Mountain View, CA",5001 to 10000 employees,1983.0,Company - Public,Computer Hardware & Software,Information Technology,$2 to $5 billion (USD),"Square, PayPal, H&R Block",San Diego,CA
119,Data Analyst - Unilever Prestige,$69K-$116K (Glassdoor est.),Data Analyst - Unilever Prestige\nJob Code\n\n...,3.8,Dermalogica\n3.8,"Carson, CA","Carson, CA",201 to 500 employees,1986.0,Subsidiary or Business Segment,Consumer Products Manufacturing,Manufacturing,$100 to $500 million (USD),"IMAGE Skincare, Aveda, Kiehl's",Carson,CA

In [74]:
gd_df2.set_index(['C_State','C_City'], drop=False, inplace = True)

In [75]:
gd_df2.head()

                                                              J_Title  \
C_State C_City
 CA     Santa Clara                                    Data Scientist
        San Francisco  Data Science Manager, Payment Acceptance - USA
        San Diego                    Staff Data Scientist - Analytics
        San Diego                                Staff Data Scientist
        Carson                       Data Analyst - Unilever Prestige

                                          J_Salary  \
C_State C_City
 CA     Santa Clara    $79K-$131K (Glassdoor est.)
        San Francisco  $79K-$131K (Glassdoor est.)
        San Diego      $99K-$132K (Glassdoor est.)
        San Diego      $99K-$132K (Glassdoor est.)
        Carson         $69K-$116K (Glassdoor est.)

                                                           J_Description  \
C_State C_City
 CA     Santa Clara    As a member of the Data Science team, this rol...
        San Francisco  Build out rigorous observability and optimizat...
        San Diego      Intuit is seeking a Staff Data Scientist to co...
        San Diego      Intuit is hiring a Senior Data scientist to fo...
        Carson         Data Analyst - Unilever Prestige\nJob Code\n\n...

                       C_Rating              C_Name         C_Location  \
C_State C_City
 CA     Santa Clara         4.0  Grid Dynamics\n4.0    Santa Clara, CA
        San Francisco       4.0         Stripe\n4.0  San Francisco, CA
        San Diego           4.4  Intuit - Data\n4.4      San Diego, CA
        San Diego           4.4  Intuit - Data\n4.4      San Diego, CA
        Carson              3.8    Dermalogica\n3.8         Carson, CA

                          C_Headquarters                   C_Size  C_Founded  \
C_State C_City
 CA     Santa Clara        San Ramon, CA   1001 to 5000 employees     2006.0
        San Francisco  San Francisco, CA   1001 to 5000 employees     2010.0
        San Diego      Mountain View, CA  5001 to 10000 employees     1983.0
        San Diego      Mountain View, CA  5001 to 10000 employees     1983.0
        Carson                Carson, CA     201 to 500 employees     1986.0

                                     C_Ownership Type  \
C_State C_City
 CA     Santa Clara                 Company - Private
        San Francisco               Company - Private
        San Diego                    Company - Public
        San Diego                    Company - Public
        Carson         Subsidiary or Business Segment

                                                    C_Industry  \
C_State C_City
 CA     Santa Clara    Enterprise Software & Network Solutions
        San Francisco                                 Internet
        San Diego                 Computer Hardware & Software
        San Diego                 Computer Hardware & Software
        Carson                 Consumer Products Manufacturing

                                     C_Sector                   C_Revenue  \
C_State C_City
 CA     Santa Clara    Information Technology   $50 to $100 million (USD)
        San Francisco  Information Technology    Unknown / Non-Applicable
        San Diego      Information Technology      $2 to $5 billion (USD)
        San Diego      Information Technology      $2 to $5 billion (USD)
        Carson                  Manufacturing  $100 to $500 million (USD)

                                          C_Competitors         C_City C_State
C_State C_City
 CA     Santa Clara      Luxoft, EPAM, Capgemini Invent    Santa Clara      CA
        San Francisco  Braintree, Authorize.Net, PayPal  San Francisco      CA
        San Diego             Square, PayPal, H&R Block      San Diego      CA
        San Diego             Square, PayPal, H&R Block      San Diego      CA
        Carson           IMAGE Skincare, Aveda, Kiehl's         Carson      CA

In [76]:
gd_df2.J_Salary.unique()

array(['$79K-$131K (Glassdoor est.)', '$99K-$132K (Glassdoor est.)',
       '$69K-$116K (Glassdoor est.)', '$124K-$198K (Glassdoor est.)',
       '$110K-$163K (Glassdoor est.)', '$122K-$146K (Glassdoor est.)',
       '$101K-$165K (Glassdoor est.)', '$79K-$147K (Glassdoor est.)',
       '$141K-$225K (Glassdoor est.)', '$91K-$150K (Glassdoor est.)',
       '$56K-$97K (Glassdoor est.)', '$90K-$124K (Glassdoor est.)',
       '$31K-$56K (Glassdoor est.)', '$66K-$112K (Glassdoor est.)',
       '$75K-$131K (Glassdoor est.)', '$138K-$158K (Glassdoor est.)',
       '$128K-$201K (Glassdoor est.)', '$92K-$155K (Glassdoor est.)',
       '$137K-$171K (Glassdoor est.)', '$212K-$331K (Glassdoor est.)',
       '$95K-$119K (Glassdoor est.)', '$105K-$167K (Glassdoor est.)',
       '$112K-$116K (Glassdoor est.)', '$90K-$109K (Glassdoor est.)',
       '$80K-$132K (Glassdoor est.)', '$87K-$141K (Glassdoor est.)',
       '$71K-$123K (Glassdoor est.)', '$79K-$106K (Glassdoor est.)',
       '$145K-$225K(Employer est.)'], dtype=object)

In [77]:
import re                                                               # REGEX
re.sub('[^0-9-]','',"$79K-$131K (Glassdoor est.)")

'79-131'

In [78]:
gd_df2['Salary Estimate'] = gd_df2['J_Salary'].apply(lambda x: re.sub('[^0-9-]','',x))
gd_df2.head()

                                                              J_Title  \
C_State C_City
 CA     Santa Clara                                    Data Scientist
        San Francisco  Data Science Manager, Payment Acceptance - USA
        San Diego                    Staff Data Scientist - Analytics
        San Diego                                Staff Data Scientist
        Carson                       Data Analyst - Unilever Prestige

                                          J_Salary  \
C_State C_City
 CA     Santa Clara    $79K-$131K (Glassdoor est.)
        San Francisco  $79K-$131K (Glassdoor est.)
        San Diego      $99K-$132K (Glassdoor est.)
        San Diego      $99K-$132K (Glassdoor est.)
        Carson         $69K-$116K (Glassdoor est.)

                                                           J_Description  \
C_State C_City
 CA     Santa Clara    As a member of the Data Science team, this rol...
        San Francisco  Build out rigorous observability and optimizat...
        San Diego      Intuit is seeking a Staff Data Scientist to co...
        San Diego      Intuit is hiring a Senior Data scientist to fo...
        Carson         Data Analyst - Unilever Prestige\nJob Code\n\n...

                       C_Rating              C_Name         C_Location  \
C_State C_City
 CA     Santa Clara         4.0  Grid Dynamics\n4.0    Santa Clara, CA
        San Francisco       4.0         Stripe\n4.0  San Francisco, CA
        San Diego           4.4  Intuit - Data\n4.4      San Diego, CA
        San Diego           4.4  Intuit - Data\n4.4      San Diego, CA
        Carson              3.8    Dermalogica\n3.8         Carson, CA

                          C_Headquarters                   C_Size  C_Founded  \
C_State C_City
 CA     Santa Clara        San Ramon, CA   1001 to 5000 employees     2006.0
        San Francisco  San Francisco, CA   1001 to 5000 employees     2010.0
        San Diego      Mountain View, CA  5001 to 10000 employees     1983.0
        San Diego      Mountain View, CA  5001 to 10000 employees     1983.0
        Carson                Carson, CA     201 to 500 employees     1986.0

                                     C_Ownership Type  \
C_State C_City
 CA     Santa Clara                 Company - Private
        San Francisco               Company - Private
        San Diego                    Company - Public
        San Diego                    Company - Public
        Carson         Subsidiary or Business Segment

                                                    C_Industry  \
C_State C_City
 CA     Santa Clara    Enterprise Software & Network Solutions
        San Francisco                                 Internet
        San Diego                 Computer Hardware & Software
        San Diego                 Computer Hardware & Software
        Carson                 Consumer Products Manufacturing

                                     C_Sector                   C_Revenue  \
C_State C_City
 CA     Santa Clara    Information Technology   $50 to $100 million (USD)
        San Francisco  Information Technology    Unknown / Non-Applicable
        San Diego      Information Technology      $2 to $5 billion (USD)
        San Diego      Information Technology      $2 to $5 billion (USD)
        Carson                  Manufacturing  $100 to $500 million (USD)

                                          C_Competitors         C_City  \
C_State C_City
 CA     Santa Clara      Luxoft, EPAM, Capgemini Invent    Santa Clara
        San Francisco  Braintree, Authorize.Net, PayPal  San Francisco
        San Diego             Square, PayPal, H&R Block      San Diego
        San Diego             Square, PayPal, H&R Block      San Diego
        Carson           IMAGE Skincare, Aveda, Kiehl's         Carson

                      C_State Salary Estimate
C_State C_City
 CA     Santa Clara        CA          79-131
        San Francisco      CA          79-131
        San Diego          CA          99-132
        San Diego          CA          99-132
        Carson             CA          69-116

In [79]:
gd_df2.insert(2, 'Min_Salary', gd_df2['Salary Estimate'].apply(lambda x: float(x.split("-")[0])))
gd_df2.head()

                                                              J_Title  \
C_State C_City
 CA     Santa Clara                                    Data Scientist
        San Francisco  Data Science Manager, Payment Acceptance - USA
        San Diego                    Staff Data Scientist - Analytics
        San Diego                                Staff Data Scientist
        Carson                       Data Analyst - Unilever Prestige

                                          J_Salary  Min_Salary  \
C_State C_City
 CA     Santa Clara    $79K-$131K (Glassdoor est.)        79.0
        San Francisco  $79K-$131K (Glassdoor est.)        79.0
        San Diego      $99K-$132K (Glassdoor est.)        99.0
        San Diego      $99K-$132K (Glassdoor est.)        99.0
        Carson         $69K-$116K (Glassdoor est.)        69.0

                                                           J_Description  \
C_State C_City
 CA     Santa Clara    As a member of the Data Science team, this rol...
        San Francisco  Build out rigorous observability and optimizat...
        San Diego      Intuit is seeking a Staff Data Scientist to co...
        San Diego      Intuit is hiring a Senior Data scientist to fo...
        Carson         Data Analyst - Unilever Prestige\nJob Code\n\n...

                       C_Rating              C_Name         C_Location  \
C_State C_City
 CA     Santa Clara         4.0  Grid Dynamics\n4.0    Santa Clara, CA
        San Francisco       4.0         Stripe\n4.0  San Francisco, CA
        San Diego           4.4  Intuit - Data\n4.4      San Diego, CA
        San Diego           4.4  Intuit - Data\n4.4      San Diego, CA
        Carson              3.8    Dermalogica\n3.8         Carson, CA

                          C_Headquarters                   C_Size  C_Founded  \
C_State C_City
 CA     Santa Clara        San Ramon, CA   1001 to 5000 employees     2006.0
        San Francisco  San Francisco, CA   1001 to 5000 employees     2010.0
        San Diego      Mountain View, CA  5001 to 10000 employees     1983.0
        San Diego      Mountain View, CA  5001 to 10000 employees     1983.0
        Carson                Carson, CA     201 to 500 employees     1986.0

                                     C_Ownership Type  \
C_State C_City
 CA     Santa Clara                 Company - Private
        San Francisco               Company - Private
        San Diego                    Company - Public
        San Diego                    Company - Public
        Carson         Subsidiary or Business Segment

                                                    C_Industry  \
C_State C_City
 CA     Santa Clara    Enterprise Software & Network Solutions
        San Francisco                                 Internet
        San Diego                 Computer Hardware & Software
        San Diego                 Computer Hardware & Software
        Carson                 Consumer Products Manufacturing

                                     C_Sector                   C_Revenue  \
C_State C_City
 CA     Santa Clara    Information Technology   $50 to $100 million (USD)
        San Francisco  Information Technology    Unknown / Non-Applicable
        San Diego      Information Technology      $2 to $5 billion (USD)
        San Diego      Information Technology      $2 to $5 billion (USD)
        Carson                  Manufacturing  $100 to $500 million (USD)

                                          C_Competitors         C_City  \
C_State C_City
 CA     Santa Clara      Luxoft, EPAM, Capgemini Invent    Santa Clara
        San Francisco  Braintree, Authorize.Net, PayPal  San Francisco
        San Diego             Square, PayPal, H&R Block      San Diego
        San Diego             Square, PayPal, H&R Block      San Diego
        Carson           IMAGE Skincare, Aveda, Kiehl's         Carson

                      C_State Salary Estimate
C_State C_City
 CA     Santa Clara        CA          79-131
        San Francisco      CA          79-131
        San Diego          CA          99-132
        San Diego          CA          99-132
        Carson             CA          69-116

In [80]:
gd_df2.insert(3, 'Max_Salary', gd_df2['Salary Estimate'].apply(lambda x: float(x.split("-")[1])))
gd_df2.head()

                                                              J_Title  \
C_State C_City
 CA     Santa Clara                                    Data Scientist
        San Francisco  Data Science Manager, Payment Acceptance - USA
        San Diego                    Staff Data Scientist - Analytics
        San Diego                                Staff Data Scientist
        Carson                       Data Analyst - Unilever Prestige

                                          J_Salary  Min_Salary  Max_Salary  \
C_State C_City
 CA     Santa Clara    $79K-$131K (Glassdoor est.)        79.0       131.0
        San Francisco  $79K-$131K (Glassdoor est.)        79.0       131.0
        San Diego      $99K-$132K (Glassdoor est.)        99.0       132.0
        San Diego      $99K-$132K (Glassdoor est.)        99.0       132.0
        Carson         $69K-$116K (Glassdoor est.)        69.0       116.0

                                                           J_Description  \
C_State C_City
 CA     Santa Clara    As a member of the Data Science team, this rol...
        San Francisco  Build out rigorous observability and optimizat...
        San Diego      Intuit is seeking a Staff Data Scientist to co...
        San Diego      Intuit is hiring a Senior Data scientist to fo...
        Carson         Data Analyst - Unilever Prestige\nJob Code\n\n...

                       C_Rating              C_Name         C_Location  \
C_State C_City
 CA     Santa Clara         4.0  Grid Dynamics\n4.0    Santa Clara, CA
        San Francisco       4.0         Stripe\n4.0  San Francisco, CA
        San Diego           4.4  Intuit - Data\n4.4      San Diego, CA
        San Diego           4.4  Intuit - Data\n4.4      San Diego, CA
        Carson              3.8    Dermalogica\n3.8         Carson, CA

                          C_Headquarters                   C_Size  C_Founded  \
C_State C_City
 CA     Santa Clara        San Ramon, CA   1001 to 5000 employees     2006.0
        San Francisco  San Francisco, CA   1001 to 5000 employees     2010.0
        San Diego      Mountain View, CA  5001 to 10000 employees     1983.0
        San Diego      Mountain View, CA  5001 to 10000 employees     1983.0
        Carson                Carson, CA     201 to 500 employees     1986.0

                                     C_Ownership Type  \
C_State C_City
 CA     Santa Clara                 Company - Private
        San Francisco               Company - Private
        San Diego                    Company - Public
        San Diego                    Company - Public
        Carson         Subsidiary or Business Segment

                                                    C_Industry  \
C_State C_City
 CA     Santa Clara    Enterprise Software & Network Solutions
        San Francisco                                 Internet
        San Diego                 Computer Hardware & Software
        San Diego                 Computer Hardware & Software
        Carson                 Consumer Products Manufacturing

                                     C_Sector                   C_Revenue  \
C_State C_City
 CA     Santa Clara    Information Technology   $50 to $100 million (USD)
        San Francisco  Information Technology    Unknown / Non-Applicable
        San Diego      Information Technology      $2 to $5 billion (USD)
        San Diego      Information Technology      $2 to $5 billion (USD)
        Carson                  Manufacturing  $100 to $500 million (USD)

                                          C_Competitors         C_City  \
C_State C_City
 CA     Santa Clara      Luxoft, EPAM, Capgemini Invent    Santa Clara
        San Francisco  Braintree, Authorize.Net, PayPal  San Francisco
        San Diego             Square, PayPal, H&R Block      San Diego
        San Diego             Square, PayPal, H&R Block      San Diego
        Carson           IMAGE Skincare, Aveda, Kiehl's         Carson

                      C_State Salary Estimate
C_State C_City
 CA     Santa Clara        CA          79-131
        San Francisco      CA          79-131
        San Diego          CA          99-132
        San Diego          CA          99-132
        Carson             CA          69-116

In [81]:
gd_df2[['Min_Salary','Max_Salary']].describe()

       Min_Salary  Max_Salary
count  167.000000  167.000000
mean    97.467066  145.862275
std     32.720942   46.655094
min     31.000000   56.000000
25%     79.000000  123.000000
50%     91.000000  132.000000
75%    112.000000  163.000000
max    212.000000  331.000000

In [82]:
df3 = gd_df2.copy()
df3.head()

                                                              J_Title  \
C_State C_City
 CA     Santa Clara                                    Data Scientist
        San Francisco  Data Science Manager, Payment Acceptance - USA
        San Diego                    Staff Data Scientist - Analytics
        San Diego                                Staff Data Scientist
        Carson                       Data Analyst - Unilever Prestige

                                          J_Salary  Min_Salary  Max_Salary  \
C_State C_City
 CA     Santa Clara    $79K-$131K (Glassdoor est.)        79.0       131.0
        San Francisco  $79K-$131K (Glassdoor est.)        79.0       131.0
        San Diego      $99K-$132K (Glassdoor est.)        99.0       132.0
        San Diego      $99K-$132K (Glassdoor est.)        99.0       132.0
        Carson         $69K-$116K (Glassdoor est.)        69.0       116.0

                                                           J_Description  \
C_State C_City
 CA     Santa Clara    As a member of the Data Science team, this rol...
        San Francisco  Build out rigorous observability and optimizat...
        San Diego      Intuit is seeking a Staff Data Scientist to co...
        San Diego      Intuit is hiring a Senior Data scientist to fo...
        Carson         Data Analyst - Unilever Prestige\nJob Code\n\n...

                       C_Rating              C_Name         C_Location  \
C_State C_City
 CA     Santa Clara         4.0  Grid Dynamics\n4.0    Santa Clara, CA
        San Francisco       4.0         Stripe\n4.0  San Francisco, CA
        San Diego           4.4  Intuit - Data\n4.4      San Diego, CA
        San Diego           4.4  Intuit - Data\n4.4      San Diego, CA
        Carson              3.8    Dermalogica\n3.8         Carson, CA

                          C_Headquarters                   C_Size  C_Founded  \
C_State C_City
 CA     Santa Clara        San Ramon, CA   1001 to 5000 employees     2006.0
        San Francisco  San Francisco, CA   1001 to 5000 employees     2010.0
        San Diego      Mountain View, CA  5001 to 10000 employees     1983.0
        San Diego      Mountain View, CA  5001 to 10000 employees     1983.0
        Carson                Carson, CA     201 to 500 employees     1986.0

                                     C_Ownership Type  \
C_State C_City
 CA     Santa Clara                 Company - Private
        San Francisco               Company - Private
        San Diego                    Company - Public
        San Diego                    Company - Public
        Carson         Subsidiary or Business Segment

                                                    C_Industry  \
C_State C_City
 CA     Santa Clara    Enterprise Software & Network Solutions
        San Francisco                                 Internet
        San Diego                 Computer Hardware & Software
        San Diego                 Computer Hardware & Software
        Carson                 Consumer Products Manufacturing

                                     C_Sector                   C_Revenue  \
C_State C_City
 CA     Santa Clara    Information Technology   $50 to $100 million (USD)
        San Francisco  Information Technology    Unknown / Non-Applicable
        San Diego      Information Technology      $2 to $5 billion (USD)
        San Diego      Information Technology      $2 to $5 billion (USD)
        Carson                  Manufacturing  $100 to $500 million (USD)

                                          C_Competitors         C_City  \
C_State C_City
 CA     Santa Clara      Luxoft, EPAM, Capgemini Invent    Santa Clara
        San Francisco  Braintree, Authorize.Net, PayPal  San Francisco
        San Diego             Square, PayPal, H&R Block      San Diego
        San Diego             Square, PayPal, H&R Block      San Diego
        Carson           IMAGE Skincare, Aveda, Kiehl's         Carson

                      C_State Salary Estimate
C_State C_City
 CA     Santa Clara        CA          79-131
        San Francisco      CA          79-131
        San Diego          CA          99-132
        San Diego          CA          99-132
        Carson             CA          69-116

In [83]:
df3['MinSalRange'] = pd.cut(gd_df2['Min_Salary'], bins=[50,100,200,300], labels=['Low','Medium','High'])

In [84]:
df3.head()

                                                              J_Title  \
C_State C_City
 CA     Santa Clara                                    Data Scientist
        San Francisco  Data Science Manager, Payment Acceptance - USA
        San Diego                    Staff Data Scientist - Analytics
        San Diego                                Staff Data Scientist
        Carson                       Data Analyst - Unilever Prestige

                                          J_Salary  Min_Salary  Max_Salary  \
C_State C_City
 CA     Santa Clara    $79K-$131K (Glassdoor est.)        79.0       131.0
        San Francisco  $79K-$131K (Glassdoor est.)        79.0       131.0
        San Diego      $99K-$132K (Glassdoor est.)        99.0       132.0
        San Diego      $99K-$132K (Glassdoor est.)        99.0       132.0
        Carson         $69K-$116K (Glassdoor est.)        69.0       116.0

                                                           J_Description  \
C_State C_City
 CA     Santa Clara    As a member of the Data Science team, this rol...
        San Francisco  Build out rigorous observability and optimizat...
        San Diego      Intuit is seeking a Staff Data Scientist to co...
        San Diego      Intuit is hiring a Senior Data scientist to fo...
        Carson         Data Analyst - Unilever Prestige\nJob Code\n\n...

                       C_Rating              C_Name         C_Location  \
C_State C_City
 CA     Santa Clara         4.0  Grid Dynamics\n4.0    Santa Clara, CA
        San Francisco       4.0         Stripe\n4.0  San Francisco, CA
        San Diego           4.4  Intuit - Data\n4.4      San Diego, CA
        San Diego           4.4  Intuit - Data\n4.4      San Diego, CA
        Carson              3.8    Dermalogica\n3.8         Carson, CA

                          C_Headquarters                   C_Size  C_Founded  \
C_State C_City
 CA     Santa Clara        San Ramon, CA   1001 to 5000 employees     2006.0
        San Francisco  San Francisco, CA   1001 to 5000 employees     2010.0
        San Diego      Mountain View, CA  5001 to 10000 employees     1983.0
        San Diego      Mountain View, CA  5001 to 10000 employees     1983.0
        Carson                Carson, CA     201 to 500 employees     1986.0

                                     C_Ownership Type  \
C_State C_City
 CA     Santa Clara                 Company - Private
        San Francisco               Company - Private
        San Diego                    Company - Public
        San Diego                    Company - Public
        Carson         Subsidiary or Business Segment

                                                    C_Industry  \
C_State C_City
 CA     Santa Clara    Enterprise Software & Network Solutions
        San Francisco                                 Internet
        San Diego                 Computer Hardware & Software
        San Diego                 Computer Hardware & Software
        Carson                 Consumer Products Manufacturing

                                     C_Sector                   C_Revenue  \
C_State C_City
 CA     Santa Clara    Information Technology   $50 to $100 million (USD)
        San Francisco  Information Technology    Unknown / Non-Applicable
        San Diego      Information Technology      $2 to $5 billion (USD)
        San Diego      Information Technology      $2 to $5 billion (USD)
        Carson                  Manufacturing  $100 to $500 million (USD)

                                          C_Competitors         C_City  \
C_State C_City
 CA     Santa Clara      Luxoft, EPAM, Capgemini Invent    Santa Clara
        San Francisco  Braintree, Authorize.Net, PayPal  San Francisco
        San Diego             Square, PayPal, H&R Block      San Diego
        San Diego             Square, PayPal, H&R Block      San Diego
        Carson           IMAGE Skincare, Aveda, Kiehl's         Carson

                      C_State Salary Estimate MinSalRange
C_State C_City
 CA     Santa Clara        CA          79-131         Low
        San Francisco      CA          79-131         Low
        San Diego          CA          99-132         Low
        San Diego          CA          99-132         Low
        Carson             CA          69-116         Low

In [85]:
df3.MinSalRange.value_counts()

Low       103
Medium     54
High        5
Name: MinSalRange, dtype: int64

In [86]:
df3['MaxSalRange'] = pd.cut(gd_df2['Max_Salary'], bins=3, labels = ['Low','Medium','High']).drop('Max_SalRange')
df3.head()

                                                              J_Title  \
C_State C_City
 CA     Santa Clara                                    Data Scientist
        San Francisco  Data Science Manager, Payment Acceptance - USA
        San Diego                    Staff Data Scientist - Analytics
        San Diego                                Staff Data Scientist
        Carson                       Data Analyst - Unilever Prestige

                                          J_Salary  Min_Salary  Max_Salary  \
C_State C_City
 CA     Santa Clara    $79K-$131K (Glassdoor est.)        79.0       131.0
        San Francisco  $79K-$131K (Glassdoor est.)        79.0       131.0
        San Diego      $99K-$132K (Glassdoor est.)        99.0       132.0
        San Diego      $99K-$132K (Glassdoor est.)        99.0       132.0
        Carson         $69K-$116K (Glassdoor est.)        69.0       116.0

                                                           J_Description  \
C_State C_City
 CA     Santa Clara    As a member of the Data Science team, this rol...
        San Francisco  Build out rigorous observability and optimizat...
        San Diego      Intuit is seeking a Staff Data Scientist to co...
        San Diego      Intuit is hiring a Senior Data scientist to fo...
        Carson         Data Analyst - Unilever Prestige\nJob Code\n\n...

                       C_Rating              C_Name         C_Location  \
C_State C_City
 CA     Santa Clara         4.0  Grid Dynamics\n4.0    Santa Clara, CA
        San Francisco       4.0         Stripe\n4.0  San Francisco, CA
        San Diego           4.4  Intuit - Data\n4.4      San Diego, CA
        San Diego           4.4  Intuit - Data\n4.4      San Diego, CA
        Carson              3.8    Dermalogica\n3.8         Carson, CA

                          C_Headquarters                   C_Size  C_Founded  \
C_State C_City
 CA     Santa Clara        San Ramon, CA   1001 to 5000 employees     2006.0
        San Francisco  San Francisco, CA   1001 to 5000 employees     2010.0
        San Diego      Mountain View, CA  5001 to 10000 employees     1983.0
        San Diego      Mountain View, CA  5001 to 10000 employees     1983.0
        Carson                Carson, CA     201 to 500 employees     1986.0

                                     C_Ownership Type  \
C_State C_City
 CA     Santa Clara                 Company - Private
        San Francisco               Company - Private
        San Diego                    Company - Public
        San Diego                    Company - Public
        Carson         Subsidiary or Business Segment

                                                    C_Industry  \
C_State C_City
 CA     Santa Clara    Enterprise Software & Network Solutions
        San Francisco                                 Internet
        San Diego                 Computer Hardware & Software
        San Diego                 Computer Hardware & Software
        Carson                 Consumer Products Manufacturing

                                     C_Sector                   C_Revenue  \
C_State C_City
 CA     Santa Clara    Information Technology   $50 to $100 million (USD)
        San Francisco  Information Technology    Unknown / Non-Applicable
        San Diego      Information Technology      $2 to $5 billion (USD)
        San Diego      Information Technology      $2 to $5 billion (USD)
        Carson                  Manufacturing  $100 to $500 million (USD)

                                          C_Competitors         C_City  \
C_State C_City
 CA     Santa Clara      Luxoft, EPAM, Capgemini Invent    Santa Clara
        San Francisco  Braintree, Authorize.Net, PayPal  San Francisco
        San Diego             Square, PayPal, H&R Block      San Diego
        San Diego             Square, PayPal, H&R Block      San Diego
        Carson           IMAGE Skincare, Aveda, Kiehl's         Carson

                      C_State Salary Estimate MinSalRange MaxSalRange
C_State C_City
 CA     Santa Clara        CA          79-131         Low         Low
        San Francisco      CA          79-131         Low         Low
        San Diego          CA          99-132         Low         Low
        San Diego          CA          99-132         Low         Low
        Carson             CA          69-116         Low         Low

In [87]:
df3.MaxSalRange.value_counts()

Low       105
Medium     57
High        5
Name: MaxSalRange, dtype: int64